@model IEnumerable<Department>


@if (User.IsInRole("admin"))
{
    <a class="btn btn-success" asp-action="Add" asp-controller="Department"> Add Department</a>
}
<table class="table table-striped-columns">
    <tr>
        <th>ID</th>
        <th>DeptName</th>
        @if (User.IsInRole("admin"))
        {
            <th> Options </th>
        }
    </tr>
    @if (Model.Count() > 0)
    {
        @foreach (var dept in Model)
        {
            <tr>
                <td>@dept.id</td>
                <td>@dept.name</td>
                @if(dept.Employees.Count() > 0){
                    @foreach(var emp in dept.Employees)
                    {
                        <td>@emp.Name</td>
                    }
                }else{
                        <td>No Employee yet</td>
                    }
                    @if (User.IsInRole("admin")){
                    <td>
                        <a class="btn btn-primary" asp-action="Detail" asp-controller="Department" asp-route-id="@dept.id">Details</a>
                        <a class="btn btn-secondary" asp-action="Edit" asp-controller="Department" asp-route-id="@dept.id">Edit</a>
                        <a class="btn btn-info" asp-action="Delete" asp-controller="Department" onclick="return confirm('Are you sure, you want to delete this department?')" asp-route-id="@dept.id">Delete</a>
                    </td>
                }
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3"> No Department Found</td>
        </tr>
    }
</table>
